@import "../../variables.scss";

.employeeCont {
  padding-bottom: 10px;
}

.header {
  position: relative;
  top: 100px;
  text-align: center;
  color: $TX;
  font-size: 28px;
  border-bottom: solid 1px $TX;
  max-width: 95%;
  margin: auto;
  padding-bottom: 10px;
}

.formCont {
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: auto;
  padding-bottom: 15px;
  color: $TX;
}

.expenseType {
  display: flex;
  flex-direction: column;
}

.reportPreview {
  background: black;
  position: absolute;
  top: 350px;
  width: 100%;
}

.preview {
  padding-top: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  p {
    font-size: 8px;
  }
}

.reportListCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  margin: auto;
}

.reportList {
  padding-top: 10px;
  width: 100%;
  border: solid 2px #efefef;
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  color: $TX;
  h3 {
    margin: 4px;
  }
}

.reportListFirstCol {
  padding-left: 10px;
}

.reportListAmount {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0px;
  }
  .x {
    color: red;
    font-size: 15px;
  }
}

.xButton {
  position: relative;
  color: red;
  font-size: 20px;
  text-align: end;
  cursor: pointer;
}

.submitFormButton {
  margin-top: 15px;
  padding: 8px;
  border-radius: 5px;
  width: 75px;
  background-color: $BT;
  color: white;
  border-color: white;
}

.outerImageUpload {
  max-width: 370px;
  margin: auto;
}

.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 320px;
  margin-left: auto;
  p {
    padding-right: 11%;
  }
}

.uploadButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  input {
    width: 158px;
    margin-right: 12%;
  }
  img {
    padding-top: 20px;
    cursor: pointer;
    margin-right: 50%;
  }
}
