@import "../../../variables.scss";

.navCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $BT;
  height: 68px;
  position: fixed;
  width: 100%;
  z-index: 5;
  h2 {
    margin: 0;
    color: white;
  }
}

.menuIcon {
  font-size: 28px;
  padding-left: 10px;
  cursor: pointer;
  color: white;
}
.navUser {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.sideMenu {
  position: fixed;
  overflow-y: scroll;
  top: 68px;
  bottom: 0;
  z-index: 2;
  width: 100%;
  border-right: solid 1px $BT;
  background-color: white;
  transition: 1s;
  margin-bottom: 30px;
  .link {
    color: black;
    text-decoration: none;
  }
}

.hiddenSideMenu {
  position: fixed;
  top: 68px;
  z-index: 2;
  background-color: white;
  border-right: solid 1px $BT;
  height: 100vh;
  width: 0px;
  transition: 1s;
}

.profileCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  color: $TX;
  transition: 1s;
}

.profileIcon {
  height: 20px;
  border: solid 3px $BT;
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.showMenuTextCont {
  overflow: scroll;
  transition: 1s;
}

.showMenuText {
  transition: 1s;
}

.hideMenuText {
  transition: 1s;
  opacity: 0;
}

.newReports,
.approvedReports {
  max-width: 355px;
  margin: auto;
  font-size: 22px;
  color: $TX;
}

.approvedReports {
  padding-top: 0;
}

.userRequests {
  display: flex;
  justify-content: space-between;
  max-width: 355px;
  margin: auto;
  font-size: 18px;
  color: $TX;
  border-bottom: solid 1px $TX;
}

.profileDropdown {
  position: absolute;
  right: 5%;
  top: 60px;
  width: 120px;
  height: 220px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px lightgray;
}

.dropdownContent {
  padding-left: 10px;
  color: $TX;
  button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    color: $TX;
    cursor: pointer;
  }
}

.editButton {
  cursor: pointer;
}

.profileEdit {
  position: fixed;
  z-index: 6;
  background-color: white;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 300px;
  border: solid 1px $TX;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.profileEdit div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileEdit input {
  width: 170px;
}

.closeEdit {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.saveChanges {
  position: relative;
  width: 100px;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
}
