@import "../../../variables.scss";

.navCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $BT;
  height: 68px;
  position: fixed;
  width: 100%;
  z-index: 5;
  h2 {
    margin: 0;
    color: white;
  }
}

.menuIcon {
  font-size: 28px;
  padding-left: 10px;
  cursor: pointer;
  color: white;
}
.navUser {
  padding-right: 20px;
}

.sideMenu {
  position: fixed;
  top: 68px;
  z-index: 2;
  height: 100vh;
  width: 100%;
  border-right: solid 1px $BT;
  background-color: white;
  transition: 1s;
  .link {
    color: black;
    text-decoration: none;
  }
}

.hiddenSideMenu {
  position: fixed;
  top: 68px;
  z-index: 2;
  background-color: white;
  border-right: solid 1px $BT;
  height: 100vh;
  width: 0px;
  transition: 1s;
}

.profileCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  color: $TX;
  transition: 1s;
}

.showMenuTextCont {
  transition: 1s;
}

.showMenuText {
  transition: 1s;
}

.hideMenuText {
  transition: 1s;
  opacity: 0;
}

.newReports,
.approvedReports {
  max-width: 375px;
  margin: auto;
  padding-top: 150px;
  font-size: 22px;
  color: $TX;
  h3 {
    padding-bottom: 10px;
    border-bottom: solid 1px $TX;
  }
}

.approvedReports {
  padding-top: 0;
}
