@import "../../variables.scss";

.adminCont {
  padding-top: 100px;
}

.footerCont {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 38px;
  border-top: solid 2px $BT;
  display: flex;
  align-items: center;
}
